body{
    padding : 40px;
    font-family: 'Mali', cursive;
    background-color: #FEF2F6;
}

.wedding-info{
    text-align : center;
    font-weight : 900;
}

.separator{
    border: 2px dashed #3cb29e;
    margin: 20px 0;
}

.wedding-info .label1{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Mali', cursive;
}

.wedding-info .names label{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Mali', cursive;
    text-transform: uppercase;
    margin: 15px 0;
}

.wedding-info .names span{
    width : 35px;
    height: 45px;
    border-radius : 50%;
    border: 2px dashed #32d19c;
    background: yellow;
    line-height: 2;
    font-size: 20px;
    display: inline-block;
    margin: 0 5px;
}

#cover .container{
    background-image: url("../img/hearts.gif"); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    margin-bottom: -20px;
}

#cover .welcome-message{
    text-align : center;
    justify-content: center;
    margin-top: 20px;
}

#cover .welcome-message label{
    text-transform: uppercase;
    font-size : 14px;
    letter-spacing: 4px;
    font-weight: 900;
} 

#cover .welcome-message h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 900;
    color : #3cb29e;
    
} 

.save-the-date{
    position:relative;
    color: #3cb29e;
    line-height: 1;
    margin-top: 20px;
}

.save-the-date .txt1{
    font-size: 54px;
}

.save-the-date .txt2{
    font-size: 22px;
    color: #D83172;
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    top: 19px;
    right: 3px;
    font-weight: 600;
}

.save-the-date .txt3{
    font-size: 60px;
}

.save-the-date .txt4{
    font-size: 20px;
    color: #D83172;
    font-weight: 900;
}

#options .heading{
    text-align: center;
    font-weight: 600;
}

#options .events{
    width: 100%;
    height: 160px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    background: #3cb29e;
    text-align: center;
    line-height: 5.5;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#options .events:hover{
    transform: scale(1.2);
}

#options .guestbook-label{
    text-align:center;
    text-transform: uppercase;
    padding: 20px 0;
}

#options .guestbook-label label{
    font-size: 14px;
    letter-spacing: 4;
}

#options .guestbook-label div{
    text-align: center;
    border: 5px solid gray;
    padding: 15px;
    letter-spacing: 4;
    color: #3cb29e;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#options .guestbook-label div:hover{
    transform: scale(1.1);
}

.venue{
    width : 140px;
    height: 140px;
    margin: 10px 0 10px 10px;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
    padding: 28px 0;
    background : repeating-linear-gradient(
        0deg,
        transparent,
        transparent 5px,
        gray 0,
        gray 6px
      );
      transition: transform 0.3s ease;
      cursor: pointer;
}

.venue:hover{
    transform: scale(1.1);
}

.venue .txt2{
    color : #3cb29e;
    display: inline-block;
    font-size: 35px;
    margin-left: -18px;
}

#events{
    text-align:center;
}

#events h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
}

#events h4{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    text-align:center;
}

#events .ceremony-wrapper{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 3px 7px 1px lightgrey;
    padding: 24px;
    color: #ffffff;
    font-weight: 600;
    margin: 30px 0;
}

#events .ceremony-wrapper.blue{
    background: #49b3d3;
}

#events .ceremony-wrapper.purple{
    background: #8c9eff;
}

#events .ceremony-wrapper.pink{
    background: #D83172;
}

#events .ceremony-wrapper.red{
    background: #ef5350;
}


#venueDetails #map{
    width : 100%;
    height: 400px;
}
